/*media query to target digital screens with a min-with of 480px*/
/*larger than average smartphone - regular tablets and large phones*/
@media screen and (min-width: 1000px){
  
  /************************************
  TWO COLUMN LAYOUT
  *************************************/

  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;
  }
  

  
  /************************************
  PAGE: PORTFOLTIO
  *************************************/

  #gallery li {
    /*
  THREE COLUMN LAYOUT
  3 * 5 = 15
  100% - 15% = 85%
  85 / 3 = 28.333333333333333%
*/
    width: 28.3333%;
  }

  /*apply styling to everht 4th item in gallery list*/
  #gallery li:nth-child(4n){
    clear: left;
  }
  
  
  
  
  /************************************
  PAGE: ABOUT
  *************************************/
  
  .profile-photo{
    float: left;
    margin: 0 5% 80px 0;
  }
}



/*media query to target digital screens with a min-with of 480px*/
/*large tablets and normal size desktops*/
@media screen and (min-width: 900px){
  
  /************************************
  HEADER
  *************************************/
  
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1{
    font-size: 2.5em
  }
  
  h2{
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header {
    border-bottom-width: 5px;
    border-bottom-style: solid;
    color: #599a68;
    /*alternatevly border-bottom: 5px solid #599a68;*/
    margin-bottom: 60px;
  }
  
  
  
  
  
  
  
  
}